---
layout: base_rt.njk
title: "حسين قدال | مطور تطبيقات أندرويد"
description: "حسين قدال، مطوّر أندرويد بخبرة تتجاوز ٤ سنوات في بناء تطبيقات Kotlin و Jetpack Compose. يعمل بالمعمارية النظيفة و KMP/CMP وخوادم Kotlin."
---
{% include "pages/home.njk" %}
